<mat-card style="margin-top: 15% !important;">
  <mat-card-header>
    <mat-card-title>Compte</mat-card-title>
    <mat-card-subtitle>Nouveau</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form #data="ngForm" (ngSubmit)="register(data)">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <label for="prenom">Prénom</label>
          <input class="w-100" id="prenom" name="prenom" type="text" pInputText [(ngModel)]="user.prenom" required>
        </div>
        <div class="col-md-6 col-sm-12">
          <label for="nom">Nom</label>
          <input id="nom" class="w-100" name="nom" type="text" pInputText [(ngModel)]="user.nom" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label for="adresse">Adresse</label>
          <input id="adresse" class="w-100" name="email" type="text" pInputText [(ngModel)]="user.adresse" required>
        </div>
        <div class="col-sm-12 col-md-6">
          <label for="mail">E-mail</label>
          <input id="mail" class="w-100" name="email" type="email" pInputText [(ngModel)]="user.email" required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label for="phone1">Téléphone 1 </label>
          <input id="phone1" class="w-100" name="telephone1" type="tel" pInputText [(ngModel)]="user.telephone1"
                 required>
        </div>
        <div class="col-sm-12 col-md-6">
          <label for="phone2">Téléphone 1 </label>
          <input id="phone2" class="w-100" name="telephone2" type="tel" pInputText [(ngModel)]="user.telephone2"
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <label for="password">Mot de Passe</label>
          <input id="password" class="w-100" name="password" type="password" pInputText [(ngModel)]="user.password"
                 required>
        </div>
        <div class="col-sm-12 col-md-6">
          <label for="password-confirm">Confirmation</label>
          <input id="password-confirm" class="w-100" name="passwordConfirmation" type="password" pInputText
                 [(ngModel)]="user.passwordConfirmation" required>
        </div>
      </div>
      <div class="text-center">
        <a routerLink="/auth/login">Se conencter</a>
      </div>
      <div class="mt-3">
        <button [disabled]="data.invalid" type="submit" pButton label="Créer le compte"></button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
