<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="https://via.placeholder.com/100" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button (click)="logout()" mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Se déconnecter </button>
</mat-menu>

