<h3>Réclamations</h3>
<p-tabMenu [model]="items">
</p-tabMenu>
<div style="padding: 0.5em;">
  <p-table [value]="articles">
    <ng-template pTemplate="header">
      <tr>
        <th>Nom</th>
        <th>Réclameur</th>
        <th>Mail</th>
        <th>Téléphone</th>
        <th>Date de creation</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-article>
      <tr>
        <td>
          <div class="row">
            <span class="col-7 align-self-center">{{article.titre}}</span>
            <span class="col-5">
            <img class="" [src]="article.imageUrl" alt="{{article.imageName}}">
          </span>
          </div>
        </td>
        <td class="align-middle">{{article.user?.prenom}} {{article.user?.nom}}</td>
        <td class="align-middle">
          <a href="mailto:{{article.user?.email}} subject=Réclamtion {{article.titre}}">{{article.user?.email}}</a>
        </td>
        <td class="align-middle">
          <a href="tel:{{article.user?.telephone1}}">+221{{article.user?.telephone1}}</a>
        </td>
        <td class="align-middle">{{article.createdAt | date: 'medium'  }}</td>
        <td class="align-middle">
          <div class="row justify-content-around">
            <button (click)="showArticle(article)" pButton type="button" icon="pi pi-eye"
                    class="p-button-rounded p-button-primary" title="Détail"></button>
            <a [routerLink]="['../articles','edit', article?.id]" pButton type="button" icon="pi pi-pencil"
               class="p-button-rounded p-button-warning" title="Editer"></a>
            <button (click)="deleteArticle(article)" pButton type="button" icon="pi pi-trash"
                    class="p-button-rounded p-button-danger"
                    title="Supprimer"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
