<div class="wrapper row3">
  <main class="hoc container clear">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h3 class="heading underline font-x2">Comment ça marche?</h3>
    </div>
    <ul class="nospace group overview btmspace-80">
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-eraser"></i></a>
          <h6 class="heading"><a href="#">Vivamus laoreet orci vel massa phasellus</a></h6>
          <p>Tortor praesent et nulla maecenas eu nibh laoreet varius mauris lectus&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-cut"></i></a>
          <h6 class="heading"><a href="#">Sem iaculis blandit ultrices adipiscing</a></h6>
          <p>Ultricies et ligula aliquam erat volutpat cras lobortis augue in vulputate&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-hand-holding-heart"></i></a>
          <h6 class="heading"><a href="#">Rhoncus sapien magna turpis proin</a></h6>
          <p>Posuere justo non malesuada libero ut lectus curabitur eu neque felis&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
      <li class="one_quarter">
        <article><a href="#"><i class="fas fa-rocket"></i></a>
          <h6 class="heading"><a href="#">Dictum quisque est imperdiet pulvinar</a></h6>
          <p>Quam iaculis sed pretium ac fringilla ultricies nibh in mauris libero interdum&hellip;</p>
          <footer><a href="#">View Details &raquo;</a></footer>
        </article>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Quis molestie convallis</a></footer>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
