<div class="wrapper row2">
  <article class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h3 class="heading underline font-x2">Publications récentes</h3>
    </div>
    <ul class="nospace group figures btmspace-80">
      <li class="one_third first">
        <figure><img src="../../../../assets/images/demo/348x261.png" alt="">
          <figcaption><em>01</em> <a href="#">At sapien elementum sed aliquet</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="../../../../assets/images/demo/348x261.png" alt="">
          <figcaption><em>02</em> <a href="#">Luctus etiam eleifend quis odio</a></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <figure><img src="../../../../assets/images/demo/348x261.png" alt="">
          <figcaption><em>03</em> <a href="#">Nisl nec lectus donec amet justo</a></figcaption>
        </figure>
      </li>
    </ul>
    <footer class="center"><a class="btn" href="#">Condimentum purus nec</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
