<div class="wrapper row3">
  <main class="hoc container clear">
    <p>

    </p>
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-40">
      <h3 class="heading underline font-x2">Mes réclamations</h3>
    </div>
    <div class="row mb-3">
      <div class="col-md-3 col-sm-auto mt-2" *ngFor="let article of articles">
        <p-card [title]="article?.titre" header="Trouvé à {{article.lieuT}}" subheader="Le {{article.dateT | date: 'medium'}}" [style]="{width: '260px'}" styleClass="p-card-shadow">
          <ng-template pTemplate="header">
            <img [src]="article.imageUrl" [alt]="article.nom" style="height: 120px">
          </ng-template>
          <p>Par {{article.nom}}</p>
          <ng-template pTemplate="footer">
            <button pButton (click)="showBasicDialog(article)" label="Voir" class="w-100"></button>
          </ng-template>
        </p-card>
      </div>
    </div>
    <div class="clear"></div>
  </main>
</div>
