<div class="wrapper bgded overlay" style="background-image:url('assets/images/demo/backgrounds/01.png');">
  <section id="testimonials" class="hoc container clear">
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h3 class="heading underline font-x2">Ce qu'ils pensent de Feegn Info</h3>
    </div>
    <ul class="nospace group btmspace-80">
      <li class="one_third first">
        <blockquote>Aliquet ullamcorper vivamus a metus nullam arcu duis augue nisl pulvinar sit amet hendrerit commodo
          feugiat pharetra lorem quisque porttitor leo vitae tincidunt rutrum urna turpis laoreet enim
        </blockquote>
        <figure class="clear"><img class="circle" src="assets/images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">A. Doe</h6>
            <em>CEO / Company Name</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>Sed iaculis metus pede feugiat ante quisque mi curabitur lectus in molestie sed consectetuer fusce
          cursus mattis leo suspendisse facilisis sodales nulla in molestie in vehicula elementum ligula
        </blockquote>
        <figure class="clear"><img class="circle" src="../../../../assets/images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">B. Doe</h6>
            <em>Director / Company Name</em></figcaption>
        </figure>
      </li>
      <li class="one_third">
        <blockquote>Donec dictum sed ut odio in risus eleifend consectetuer suspendisse potenti nam dictum laoreet
          lectus aenean laoreet ipsum consectetuer lacus ut convallis lectus ac magna in ornare nisi vitae massa
        </blockquote>
        <figure class="clear"><img class="circle" src="../../../../assets/images/demo/60x60.png" alt="">
          <figcaption>
            <h6 class="heading">C. Doe</h6>
            <em>Marketing / Company Name</em></figcaption>
        </figure>
      </li>
    </ul>
  </section>
</div>
