/* You can add global styles to this file, and also import other style files */

@import '~ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

$orange: #DC8E47;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  &::-webkit-scrollbar {
    display: none;
  }
}

.auth-fields-section {
  background: #061820;
}

.not-allowed {
  cursor: not-allowed !important;
}

.orange {
  color: $orange !important;
}

.text-cursive {
  font-family: 'Shadows Into Light', cursive;
}
