<div class="bgded overlay" style="background-image:url('../../../../assets/images/demo/backgrounds/keys.jpg');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article class="center">
      <h3 class="heading underline">Retouver vos objets</h3>
      <p>
        Plateforme gratuite qui met en relation les personnes qui ont perdu un objet et celles
        qui l'ont retrouvé.
      </p>
      <button class="btn mt-4" routerLink="/public/lost-objects">Je cherche un objet perdu</button>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
